[Unit]
Description=zigbee2mqtt
After=network.target

[Service]
ExecStart=/usr/bin/sh -c 'npm start'
WorkingDirectory={{ zigbee2mqtt_project_path }}/current
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ zigbee2mqtt_user }}

[Install]
WantedBy=multi-user.target
